.All {
  background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 100%);
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
}

.content {
  flex: 10;
}
